:root {
  --primary-color: #282c34;
  --secondary-color: #ffffff;
  --text-color: #333;
  --highlight-color: #ffcc00;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: 2px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; /* Adjust to lighter weight */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 4px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.text-justify {
  text-align: justify;
}

.highlight {
  font-weight: bold;
}

.switch {
  width: 160px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  transition: justify-content 0.3s ease; /* Added transition */
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
}

.handle {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
}

@keyframes reveal {
  /* keyframes unchanged */
}

.name-animation {
  animation: reveal 4s steps(16, end) forwards;
  display: inline-block;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 20px;
  color: rgb(255, 255, 255);
}

.vertical-timeline-element-title {
  font-size: 1.5em;
}

.vertical-timeline-element-subtitle {
  font-size: 1.2em;
  color: rgb(59, 57, 57);
}

.service-icon {
  width: 80px; 
  height: 80px; 
}

.vertical-timeline-element {
  position: relative; /* Ensure positioning for absolute elements */
}

.vertical-timeline-element::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0; /* Aligns the line to the top of the element */
  height: 100%; /* Extend line to full height */
  width: 2px; /* Width of the connecting line */
  background: #7393B3; /* Color of the connecting line */
  transform: translateX(-50%); /* Center the line */
  z-index: 0; /* Set z-index to be behind the content */
}

.vertical-timeline-element[data-type='work']::before {
  background: #00bfff; /* Work line color */
}

.vertical-timeline-element[data-type='school']::before {
  background: #e91e63; /* School line color */
}
